/* ProfileGym.module.css */
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 7px;
  color: #333;
 
}

.profileContainer {
  max-width: 900px;
  margin: 30px auto 30px auto;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contentLayout {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.imageColumn {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.formColumn {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profileImagePreview {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noImagePlaceholder {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 16px;
}

.uploadButtonContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.customFileUpload {
  background-color: #d3d837;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s ease;
  border: none;
  font-weight: bold;
}

.customFileUpload:hover {
  background-color: #e5c100;
  transform: scale(1.1);
}

.fileInput {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
}

.formGroup input:focus {
  border: 1px solid #d3d837;
  box-shadow: 0 0 5px rgba(211, 216, 55, 0.5);
}

.updateButton {
  background-color: #d3d837;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s ease;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.updateButton:hover {
  background-color: #e5c100;
  transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
  .contentLayout {
    flex-direction: column;
  }
  
  .imageColumn {
    margin-bottom: 30px;
  }
  
  .formColumn {
    width: 100%;
  }
}
