
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modalContent {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 850px;
  max-width: 90vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}


.closeBtn {
  position: absolute;
  top: 15px;
  left: 20px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}


.modalContent h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}


.formRow {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  align-items: center;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}


label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}


input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height: 38px;
}


.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.uploadBtn {
  padding: 10px 15px;
  border: 2px solid #888;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
  transition: background 0.3s, border-color 0.3s;
  display: inline-block;
}

.uploadBtn:hover {
  background: #f0f0f0;
  border-color: #555;
}


input[type="file"] {
  display: none;
}


.imagePreview {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  object-fit: cover;
}


.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}


.cancelBtn {
  background: black;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.cancelBtn:hover {
  background: #333;
}


.addBtn {
  background: #D3D837;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.addBtn:hover {
  background: #c4c92f;
}
