.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
  }
  
  .input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .button {
    margin-top: 0.8rem;
    width: 100%;
    padding: 0.7rem;
    background: #fa8d4e;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .button:hover {
    background: #fa8d4e;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
  }
  
  .saveBtn {
    background-color: #d3d837;
    padding: 0.6rem 1.2rem;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .cancelBtn {
    background: black;
    padding: 0.6rem 1.2rem;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  