.promotions-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 35px; 
}

.promotions-container {
  max-width: 850px; 
  margin: 39px auto 30px 35px; 
  padding: 35px;
  background: #f9f9f9;
  border-radius: 8px;
  text-align: left;
}

.promotions-input-group {
  margin-bottom: 15px;
}

.promotions-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  margin-top: -13px;
}

.promotions-input-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.promotions-input {
  width: 40%;
  margin-right: 34px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.promotions-filter-button {
  background: #d3d837;
  padding: 6px 10px;
  border: 1px solid #d3d837;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 6px;
}

.promotions-filter-button:hover {
  background: #e5c100;
}

.promotions-subject-textarea {
  width: 80%; 
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: none;
  height: 100px;
}

.promotions-send-button {
  background: #d3d837;
    color: white;
    padding: 6px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: 131px; 
}

.promotions-send-button:hover {
  background: #e5c100;
}
.promotions-textarea{
  border-radius: 8px;
    width: 650px;
    height: 170px;
    margin: 21px;
    margin-left: 0px;
    margin-bottom: 14px;
}
.promotions-input,
.promotions-textarea {
  outline: none; 
}

.promotions-input:focus,
.promotions-textarea:focus {
  border: 1px solid #d3d837; 
  box-shadow: 0 0 5px rgba(211, 216, 55, 0.5); 
}
