

.inventory-header {
  padding: 35px;
}


.modalOverlay {
  position: absolute; /* Asegura que cubra toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 800px;
  max-width: 90vw;
  text-align: center;
}

.modalContent {
  background: white;
  padding: 25px;
  border-radius: 10px;
  position: relative;
}

.modalContent h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.formRow {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

.input,
.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}


.uploadBtn {
  padding: 10px 15px;
  border: 2px solid #888; 
  border-radius: 5px;
  background: white;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
  transition: background 0.3s, border-color 0.3s;
  display: inline-block;
}

.uploadBtn:hover {
  background: #f0f0f0;
  border-color: #555;
}


input[type="file"] {
  display: none;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancelBtn {
  background: black;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.addBtn {
  background: #ffdd57;
  color: black;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.addBtn:hover {
  background: #ffd000;
}

.cancelBtn:hover {
  background: #cfcfcf;
}
._modal_126qw_19 h2{
  margin-bottom: 40px;
  margin-top: 20px;
}
.imagePreview {
  margin-top: 10px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid #ddd;
  
}