._privateLayout_main {
  position: relative; /* Mantiene el modal dentro del contenedor */
}

.inventory-header {
  padding: 35px;
}


.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 800px; /* Aumentamos el ancho */
  max-width: 90vw; /* Evita que se desborde en pantallas pequeñas */
  text-align: center;
}

.modalContent {
  background: white;
  padding: 25px;
  border-radius: 10px;
  position: relative;
}

.modalContent h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.formRow {
  display: flex;
  gap: 20px; /* Mayor separación entre los elementos */
  margin-bottom: 15px;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input, 
.select {
  padding: 12px; /* Más espacio en los inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageBox {
  border: 1px dashed #ccc;
  height: 100px; /* Aumentamos el área de imagen */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancelBtn {
  background: #e0e0e0;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.addBtn {
  background: #ffdd57;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.addBtn:hover {
  background: #ffd000;
}

.cancelBtn:hover {
  background: #cfcfcf;
}
