.dashboard_container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: #F9F9F9;
}
.title{
    padding-top: 20px;
    padding-bottom: 40px;
}
.title span{
   font-weight: 300;
   font-size: 1.30rem;
}
.charDuplaOne{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    background-color: white;
    box-shadow: 0.5px 0.5px 2px  rgb(241, 241, 241, 0.5);
}
 


.charDuplaTwo{
    width: auto;
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 50px;
    gap: 70px;
}
.ChartMembership_container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0.5px 0.5px 2px  rgb(241, 241, 241, 0.5);
}
.ChartMembership_container p{
    padding-top: 20px;
   padding-bottom: 20px;
   font-weight: bold;
}
.topMembreship_container{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0.5px 0.5px 0.5px 2px  rgb(241, 241, 241, 0.5);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.topMembreship_container p{
    font-weight: bold;
}




.totalPeopleByMonth_coontainer{
    width: 100%;
    min-height: 340px;
    background-color: white;
    box-shadow: 0.5px 0.5px 2px  rgb(241, 241, 241, 0.5);
    border-radius: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.totalPeopleByMonth_coontainer p{
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}
