.firstDataCards{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 15px;
}

.firstDataCards_div{
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(240, 240, 240);
    box-shadow: 0.5px 0.5px 2px  rgb(241, 241, 241, 0.5);
    min-height: 120px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-evenly;
}
.firstDataCards_div .description{
    color: var(--textSecond-color);
    font-size: 0.90rem;
}
.firstDataCards_div .description .span{
   color: black;
    font-weight: 500;
}
.firstDataCards_div .data{
    color: black;
    font-weight: bold;
    font-size: 1.20rem;
}
.firstDataCards_div .date{
    color: var(--textSecond-color);
    font-size: 0.90rem;
}