.priceMembership_container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--colorByBackgrounds);
    padding: 20px 100px ;
}

.h2_title{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
}

.tipePrice_container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
 .content_container_price{
    min-height: 300px;
    border-radius: 20px;
    border: 0.5px solid var(--primary-color);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .content_container_price h3{
    padding-top: 20px;
    padding-bottom: 10px;
    color: var(--textSecond-color);
    font-size: 1rem;
}
 .content_container_price p{
    color: white;
    font-weight: bold;
    font-size: 1.90rem;
    padding-bottom: 40px;
}
 .content_container_price p span{
    color: var(--textSecond-color);
    font-size: .90rem;
}
 
 .content_container_price div{
    width: 80%;
    color: var(--textSecond-color);
    
}
 
.content_container_price div ul li{
    color: var(--textSecond-color);
    padding-bottom: 10px;
    list-style: none;
}


@media (max-width: 768px) {
    .priceMembership_container{
        padding: 20px 50px ;
        padding-bottom: 100px;
        
    }
   
    .h2_title{
       
        padding-top: 50px;
       
        
    }
    
  }


  
@media (max-width: 480px) {
    

    .tipePrice_container{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
    .priceMembership_container{
        max-width:100vh ;
    }
  
  }