.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0,0.2); 
    backdrop-filter: blur(5px); 
    border-bottom: 1px solid rgb(96, 96, 96); 
    z-index: 1000; 
    transition: background 0.3s ease-in-out;
}


.header_image_logo {
    width: 20%;
    height: 100%;
    padding-left: 100px;
}

.header_image_logo img {
    width: 100px;
    height: 100%;

}

.header_navbar {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_navbar ol {
    display: flex;
}

.header_navbar ol li {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    display: flex;
    justify-content: center;

}

.header_navbar ol li a {
    text-decoration: none;
    color: var(--textSecond-color);
}

.header_navbar ol li a:hover {
    color: var(--primary-color);
}

.header_icon_login {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 100px;
}
.icon_darkMode{
    color: rgb(255, 255, 255);
    margin-right: 20px;
}
.header_icon_login a {
    text-decoration: none;
}
.header_icon_login button {
    width: 120px;
    height: 35px;
    border:1px solid var(--primary-color);
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}
.header_icon_login button:hover {
    border:2px solid var(---color);
    background-color: rgba(255, 219, 0, 0.5);
}

.header_icon_login a button p {
    padding-right: 5px;
    color: var(--primary-color);
}
.icon_login{
    color: var(--primary-color);
    width: 5%;
}

.menuHamburguesa {
    color: rgb(255, 255, 255);
}

.inactive {
    display: none;
}


/* Media Query para pantallas tipo tablet o móviles en orientación horizontal */


@media (max-width: 768px) {
    .header_navbar {
        display: none;
    }

    .header_icon_login a {
        display: none;
    }
    .inactive {
        display: inline-block;
    }
    
    
    .header_image_logo {
        width: 20%;
        height: 100%;
        padding-left: 20px;
    }
    .header_icon_login {
        padding-right: 20px;
    }

}
@media (max-width: 480px) {
    .header_navbar {
        display: none;
    }

    
    .inactive {
        display: inline-block;
    }
    .header_image_logo {
        width: 20%;
        height: 100%;
        padding-left: 20px;
    }
    .header_icon_login {
        padding-right: 20px;
    }

}


@media (min-width: 1439px) {
    .headerContainer {
        width: 100%;
        height: 9vh;
    }
    .header_image_logo img {
        width: 200px;
        height: 100%;
    
    }
    
    
}