.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenedor del modal */
.modalContent {
  position: relative;
  background: var(--card-bg);
  color: var(--text-color);
  padding: 25px;
  border-radius: 10px;
  width: 800px;
  max-width: 90vw;
  text-align: center;
  z-index: 1001;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botón de cerrar */
.modalClosebtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Título del modal */
.modalContent h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Fila del formulario */
.formRow {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  align-items: center;
}

/* Grupo de entrada (label + input/select) */
.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Etiquetas */
label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: var(--textSecond-color);
}

/* Inputs y selects */
input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height: 38px;
  background: var(--input-bg);
  color: var(--text-color);
  transition: all 0.3s ease;
}

input[type="date"] {
  color-scheme: light dark;
}

/* Área de carga de imagen */
.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 130px;
  height: 130px;
  justify-content: center;
  text-align: center;
  background-color: var(--input-bg);
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

/* Ocultar input file nativo */
input[type="file"] {
  display: none;
}

/* Botones del formulario */
.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancelBtn {
  background: #000000;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.cancelBtn:hover {
  background: #333;
}

.addBtn {
  background: var(--primarySecond-color);
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.addBtn:hover {
  background: #c4c92f;
}

/* Previsualización de la imagen */
.imagePreviewContainer {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 6px;
  background-color: var(--card-bg);
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

/* Responsive */
@media (max-width: 600px) {
  .modalContent {
    width: 95%;
    max-width: 100%;
  }

  .formRow {
    flex-direction: column;
  }

  .formActions {
    flex-direction: column;
  }

  .cancelBtn,
  .addBtn {
    width: 100%;
  }
}