.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
  }
  
  .modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 35px;
    border-radius: 15px;
    width: 750px; 
    max-width: 90vw; /* Evita que se desborde en pantallas pequeñas */
    text-align: center;
  }
  
  .modalCloseContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
  }
  
  .modalContainer h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    padding: 35px;
  }
  
  .formRow {
    display: flex;
    gap: 20px; /* Mayor separación entre los elementos */
    margin-bottom: 15px;
  }
  
  .formGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input, 
  .select {
    padding: 10px; /* Más espacio en los inputs */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  .buttonContainer button {
    margin-top: 30px;
  }
  
  .cancelButton {
    background: black;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .addButton {
    background: var(--primary-color);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .addButton:hover {
    background: var(--primarySecond-color);
  }
  
  .cancelButton:hover {
    background: #cfcfcf;
    ;
  }