._eventosContainer_5qi5r_5 {
  width: auto;
  height: auto;
  position: relative;
}

.DivConteiner {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.Contenedorinfo {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 41%;
  max-width: 90%;
  margin-left: 295px;
  max-height: 90vh;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TitleContainer h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
  margin-top: 6px;
  text-align: center;
}

.ConteinerActions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 27px;
}

.ConteinerActions button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.ConteinerActions button:first-child {
  background: black;
  color: white;
}

.ConteinerActions button:last-child {
  background: #e3e33a;
  color: black;
}

.ConteinerActions button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}