.container_sideBar{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 0px 20px 20px 0px;
}

.navegationList{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.navegationList div{
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 6px;
    padding-left: 10px;
}
.navegationList div img{
    width: 30px;
    height: 30px;
    
}
.navegationList div a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
}
.imageContainer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 0px 0px;
}
.imageContainer img{
    width: 80%;
}

.UtilsSideBar{
   width: 100%;
   height: 15%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 50px;
   color: white;
}
.UtilsSideBar div{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.UtilsSideBar div a{
   text-decoration: none;
   color: white;
}


.activeLink {
    background-color: var(--primary-color); 
    color: black; 
    border-radius: 4px; 
}
.activeLink link{
    color: black; 
    
}
