.ContactHome_container {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-color: black;

}

/* intro */
.container_intro_contact {
    width: 100%;
    height: 50vh;
    background-color: var(--colorByBackgrounds);
    padding: 10px 100px;
}

/* Sección principal */
.container_contact {
    width: 100%;
    height: auto; 
    padding: 10px 100px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.section_details {
    width: 60%;
    height: auto; 
    min-height: 400px; 
}

/* Información */
.section_details_information h2 {
    color: white;
    text-align: center;
    display: block;
    padding-bottom: 30px;
    padding-top: 10px;
}

.section_details .section_details_information {
    width: 100%;
    height: auto; 
}

.information_items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    justify-content: center;
    gap: 15px;
}

.information_items div {
    height: 100px;
    display: flex;
}
.information_items div .logo_details{
    width: 30%;
    height: 100%;
    background-color: var(--primary-color);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information_items div .details_about_contact{
    display: inline;
}
.information_items div .details_about_contact h3{
   font-size: 1rem;
   color: white;
   font-weight: bold;
}
.information_items div .details_about_contact ol li{
   color: rgb(182, 182, 182);
   list-style: none;
}

/* Mapa */
.section_details .section_details_map {
    width: 100%;
    height: 300px; 
    background-color: rgb(57, 225, 99);
}


.section_send_mesagge {
    width: 40%;
    height: auto; 
    min-height: 400px; 
    display: flex;
    justify-content: center;
}
.container_form {
    width: 80%;
    min-height: 500px;
    padding: 20px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.container_form h2{
   color: white;
   padding-bottom: 10px;
}
.section_send_mesagge_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    flex-grow: 1; 
}

.send_mesagge_form_container {
    width: 100%;
    flex: 3; 
    background-color: red;
}

.send_mesagge_socialMedia_container {
    width: 100%;
    flex: 1; 
    background-color: rgb(27, 215, 115);
}


@media (max-width: 1000px) {
    .container_contact {
        padding: 10px 50px;
    }
}

@media (max-width: 768px) {
    .container_contact {
        flex-direction: column;
        padding: 10px 20px;
    }

    .section_details,
    .section_send_mesagge {
        width: 100%;
        height: auto; 
        padding: 20px; 
    }

    .section_details .section_details_map {
        height: 250px; 
    }
}


@media (min-width: 1400px) {
    .information_items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        justify-content: center;
        gap: 20px;
    }
}
