.privateLayout_container{
    display: flex;
}

.privateLayout_sidebar{
    width: 20%;
}



.privateLayout_main{
    width: 100%;
    height: auto;
}


/* 📱 Móviles Pequeños (hasta 480px) */
@media (max-width: 480px) {
    body {
      font-size: 14px;
    }
    .container {
      flex-direction: column;
      padding: 10px;
    }
  }
  
  /* 📱 Móviles Medianos (481px - 768px) */
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
    }
    .sidebar {
      display: none;
    }
  }
  
  /* 💻 Tablets (769px - 1024px) */
  @media (min-width: 1024px) {
    
    .privateLayout_sidebar{
        width: 30%;
    }

  }
  @media (max-width: 1024px) {
    
    .privateLayout_sidebar{
        width: 40%;
    }

  }
  
  /* 🖥️ Pantallas Grandes (1025px en adelante) */
  @media (min-width: 1025px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  