.privateLayout_container{
    display: flex;
}

.privateLayout_sidebar{
    width:30%;
}



.privateLayout_main{
    width: 100%;
    height: auto;
}

@media (max-width:1024px){
  .privateLayout_sidebar{
    width: 40%;
   
}
}






  