.privateLayout_container{
    display: flex;
    position: relative;
}

.privateLayout_sidebar{
    width:25vw;
}



.privateLayout_main{
    width: 75vw;
    height: auto;
}



@media (max-width:1024px){
  .privateLayout_sidebar{
    width: 40%;
   
}
}






  