.IntroduccionHome_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
}

 .container_information_introduccion,
 .container_bubble
 {
    width: 50%;
    height: 100%;
}

.container_information_introduccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container_information_introduccion .name_gym {
    color: var(--primary-color);
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: 1.30rem ;
    padding-bottom: 5px;
}
.container_information_introduccion h1 {
    color: rgb(251, 251, 251);
    font-weight: bold;
    font-size: 3rem ;
    padding-top: 10px;
    padding-bottom: 5px;
}
.container_information_introduccion .text_introduction {
    color: rgb(239, 239, 239);
    font-size: 1rem ;
    padding-top: 5px;
    padding-bottom: 10px;
}

.container_information_introduccion button {
    width: 120px;
    height: 40px;
    margin-top: 30px;
    border:1px solid var(--primary-color);
    border-radius: 10px;
    background-color: black;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}
.container_information_introduccion button:hover {
    border:2px solid var(--primary-color);
    background-color: rgba(255, 219, 0, 0.5);
}

.container_bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    position: relative;
   
}


.slider_track {
    height: 70%;
    display: flex;
    border-radius: 50%;
    width: calc(70% * 4); 
}







@media (max-width: 768px) {
    .IntroduccionHome_container {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 100px;
       
    }
    .IntroduccionHome_container div{
        width: 80%;
    }

}

