.IntroduccionHome_container {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 100px;
}
.IntroduccionHome_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo rojo semitransparente */
    background-image: url("https://c4.wallpaperflare.com/wallpaper/787/610/414/muscle-press-pose-athlete-workout-hd-wallpaper-preview.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8; /* Asegura que quede detrás del contenido */
}
.IntroduccionHome_container div{
    width: 40%;
}

.IntroduccionHome_container div .name_gym {
    color: var(--primary-color);
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: 1.30rem ;
    padding-bottom: 5px;
}
.IntroduccionHome_container div h1 {
    color: rgb(251, 251, 251);
    font-weight: bold;
    font-size: 3rem ;
    padding-top: 10px;
    padding-bottom: 5px;
}
.IntroduccionHome_container div .text_introduction {
    color: rgb(239, 239, 239);
    font-size: 1rem ;
    padding-top: 5px;
    padding-bottom: 10px;
}

.IntroduccionHome_container div button {
    width: 120px;
    height: 40px;
    margin-top: 30px;
    border:1px solid var(--primary-color);
    border-radius: 10px;
    background-color: black;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}
.IntroduccionHome_container div button:hover {
    border:2px solid var(--primary-color);
    background-color: rgba(255, 219, 0, 0.5);
}




@media (max-width: 768px) {
    .IntroduccionHome_container {
        
        padding-left: 20px
    }
    .IntroduccionHome_container div{
        width: 80%;
    }

}
@media (max-width: 480px) {
    

}
