.recover_container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
  }
     
  .recover_image_section {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    border-radius: 0px 25px 25px 0px;
  }
     
  .recover_image_section img {
    width: 300px;
    height: 100px;
    border-radius: 36px 36px 0px 0px;
  }
     
  .recover_image_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  } 
  
  /* Modified to ensure image has black background */
  .imagen {
    background-color: black !important;
    object-fit: contain;
    
  }
     
  .recover_image_content h2 {
    font-size: 2.5rem;
    padding-bottom: 30px;
    color: #ffffff;
    text-align: center;
  }
     
  .recover_image_content h2 span {
    color: #FFDB00;
  }
     
  .recover_image_content img {
    width: 400px;
    height: 400px;
    background-color: rgb(201, 56, 56); /* Ensuring all images in this container have black background */
  }
     
  .recover_form_section {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
     
  .back_button {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
  }
     
  .back_button img {
    width: 12px;
    height: 12px;
  }
     
  .back_button p {
    font-weight: 700;
  }
     
  .recover_form_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 120px;
  }
     
  .recover_title {
    color: var(--primary-color);
    font-size: 2.0rem;
    font-weight: 500;
    padding-bottom: 20px;
  }
     
  .recover_form_wrapper p {
    color: var(--textSecond-color);
    padding-bottom: 30px;
    font-size: 1rem;
  }
     
  .recover_form form label {
    display: block;
    font-weight: 400;
    padding-bottom: 5px;
  }
     
  .recover_form form input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 7px;
    margin-bottom: 25px;
  }
     
  .recover_form form input::placeholder {
    padding-left: 10px;
    color: rgb(180, 180, 180);
  }
     
  .recover_form form input[type="email"]:focus {
    border: 2px solid var(--primary-color);
    outline: none;
  }
     
  .recover_form form button {
    width: 100%;
    height: 40px;
    background-color: #FFDB00;
    border: none;
    border-radius: 10px;
    color: rgb(39, 39, 39);
    font-weight: 700;
    font-size: 1rem;
    margin-top: 10px;
  }
     
  /* Responsive */
  @media (max-width: 480px) {
    body {
      font-size: 14px;
    }
       
    .recover_container {
      flex-direction: column;
      padding: 10px;
    }
  }
     
  @media (max-width: 768px) {
    .recover_form_wrapper {
      padding: 5px 100px;
    }
       
    .recover_image_content img {
      width: 250px;
      height: 250px;
    }
  }
     
  @media (min-width: 1025px) {
    .recover_form_wrapper {
      padding: 5px 120px;
    }
       
    .recover_title {
      padding-bottom: 20px;
    }
       
    .recover_form_wrapper p {
      padding-bottom: 30px;
    }
       
    .recover_image_content img {
      width: 400px;
      height: 400px;
    }
  }