:root{
    --primary-color:#FFDB00;
    --primarySecond-color:#E3E33A;
    --colorByBackgrounds: rgb(25, 25, 25,1);
    --backgroundWhiteMiddle:#F9F9F9;
}

body{
    font-family: "Inter", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: "Inter", sans-serif;
    scroll-padding-top: 12vh; 
}
body{
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: all 0.3s ease;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}






