
:root{
    --primary-color:#FFDB00;
    --primarySecond-color:#D3D837;
    --textSecond-color:#9b9b9b;
    --colorByBackgrounds: rgb(25, 25, 25,1);
    --backgroundWhiteMiddle:#F9F9F9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: "Inter", sans-serif;
    scroll-padding-top: 12vh; 
}
body{
    font-family: "Inter", sans-serif;
    
}






