.eventCard {
  display: flex;
  align-items: center;
  width: 45%;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 20px;
  
}

.eventImage {
  width: 40%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.eventContent {
  flex: 1;
  padding: 12px 16px;
}

.eventTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.detailLabel {
  font-size: 14px;
  color: #777;
}

.detailValue {
  font-size: 16px;
  font-weight: 500;
}

.eventActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.statusButton {
  background-color: #00ff00;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
}

.iconButtons {
  display: flex;
  gap: 8px;
}

.iconButtons button {
  background: none;
  border: none;
  cursor: pointer;
}

.iconButtons svg {
  font-size: 20px;
  color: black;
}
