.DivConteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
  
.Contenedorinfo {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 100000;
    width: 75%;
    max-width: 400px;
    position: relative;
    cursor: default;
}
  
.TitleCOnteiner h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
    margin-top: 6px;
    text-align: center;
}
  
.ConteinerActions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 27px;
}
  
.ConteinerActions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: opacity 0.2s ease;
}
  
.ConteinerActions button:first-child {
    background: black;
    color: white;
}
  
.ConteinerActions button:last-child {
    background: #e3e33a;
    color: black;
}
  
.ConteinerActions button:hover {
    opacity: 0.8;
} 